<div class="container-section">
  <h1>También te podría gustar</h1>
  <div class="container">
    <div class="container-list">
      <div>
        <img src="assets/images/product2.png" alt="" />
        <h3>Producto 1</h3>
        <span>{{ 130 | currency: 'USD' }}</span>
      </div>
      <div>
        <img src="assets/images/product2.png" alt="" />
        <h3>Producto 1</h3>
        <span>{{ 130 | currency: 'USD' }}</span>
      </div>
      <div>
        <img src="assets/images/product2.png" alt="" />
        <h3>Producto 1</h3>
        <span>{{ 130 | currency: 'USD' }}</span>
      </div>
      <div>
        <img src="assets/images/product2.png" alt="" />
        <h3>Producto 1</h3>
        <span>{{ 130 | currency: 'USD' }}</span>
      </div>
    </div>
  </div>
</div>
